@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Variables */
    --black: #000;
    --white: #fff;
    --gy300: rgb(172 193 222);
    --gy500: rgb(94 110 133);
    --blue100: rgb(225 231 254);
    --blue300: rgb(79 211 241);
    --blue500: rgb(52 95 246);
    --blue900: rgb(37 51 71);
    --gradient: linear-gradient(to right, rgb(254, 255, 255), rgb(214 230 254));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    color: var(--blue900);
}

input[type="text"] {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    font: inherit;
    color: var(--blue900);
}

body {
    font-family: "Inter", sans-serif;
    color: var(--gy500);
    width: 100vw;
    min-height: 100vh;
}

/* Fonts */
.header {
    font-size: 4rem;
    line-height: 110%;
    letter-spacing: -5%;
    font-weight: 600;
}

.header-2 {
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -5%;
    font-weight: 600;
}

.header-3 {
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: -5%;
    font-weight: 600;
}

.header-4 {
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -5%;
    font-weight: 600;
}

.text {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 400;
}

.text-b {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 600;
}

.text-s {
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 400;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    width: 70%;
    height: 100%;
    border-radius: 0 0 2.1875rem 2.1875rem;
}

.tips::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--gradient);
    width: 97%;
    height: 100%;
    border-radius: 2.1875rem;
}

.wrapper {
    z-index: 3;
}

main {
    width: 100%;
}

.hero {
    width: 100%;
    position: relative;
    padding: 5.5rem 8.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo {
    width: 4rem;
    height: 4rem;
}

.hero-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero article {
    margin-top: 4.5rem;
    grid-column: 1 / 6;
}

.calculator {
    grid-column: 7 / -1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 1rem 2rem 3.5rem rgb(184, 205, 230);
}

fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.25rem;

}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    outline: 0;
    position: absolute;
    opacity: 0;
}

fieldset label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

fieldset label::before {
    content: "";
    display: block;
    width: 1.9375rem;
    height: 1.9375rem;
    border: 1px solid var(--gy500);
    border-radius: 50%;
    margin-right: 0.5rem;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;

}

input[type="radio"]:checked+label::before {
    background-color: var(--blue100);
    border-color: transparent;
}

input[type="radio"]:checked+label::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.45rem);
    left: 0.5rem;
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: var(--blue500);
    border-radius: 50%;
    transition: all 300ms ease-in-out;

}

input[type="radio"]:focus-visible+label::before,
input[type="radio"]:hover+label::before {
    outline: 1px solid var(--blue500);
    border-color: var(--blue500);
}

.inputs-metric {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.inputs-imperial {
    /* display: grid; */
    display: none;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.form-control-weight,
.form-control-height {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}


.input-container {
    border: 1px solid var(--gy500);
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0.5rem;

    & input {
        width: 100%;
        box-sizing: border-box;
    }

    & h3 {
        color: var(--blue500);
    }
}

.input-container:hover {
    cursor: pointer;
}

.output {
    background-color: var(--blue500);
    color: var(--white);
    padding: 2rem;
    border-radius: 1rem 62.4375rem 62.4375rem 1rem;

    & h3,
    h4 {
        color: var(--white);
    }
}

.empty {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 1rem;
}


.bmi-output {
    /* display: none; */
    display: flex;
    gap: 1.5rem;
}

.bmi-output>* {
    flex: 1;
}

.your-results {
    padding: 0 8.75rem 5.375rem;
}

.your-results .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.img {
    grid-column: 1 / 7;

    & img {
        width: 100%;
    }
}

.your-results .results-content {
    grid-column: 8 / -1;
}

.curve-left {
    display: flex;
    justify-content: end;
    margin: 0 2rem 2rem 0;
}



.tips {
    width: 100%;
    position: relative;
    padding: 6rem 8rem;
}

.tip-list {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.tip {
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    & img {
        width: 4rem;
        height: 4rem;
    }
}

.tip-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.limitations {
    padding: 6.5rem 8.75rem;

}

.limitations .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    margin: 0 auto;
}

.card {
    width: auto;
    min-width: 0;
    box-shadow: 1rem 2rem 3.5rem rgb(184, 205, 230);
    border-radius: 1rem;
    background-color: var(--white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.limitations article {
    grid-row: 1;
    grid-column: 1 / 7;
}

.gender {
    grid-row: 1;
    grid-column: 8 / 12;
}

.curve-right {
    grid-row: 2;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: start;
}

.age {
    grid-row: 2;
    grid-column: 5 / 9;
}

.muscle {
    grid-row: 2;
    grid-column: 9 / -1;
}

.pregnancy {
    grid-row: 3;
    grid-column: 3 / 7;
}

.race {
    grid-row: 3;
    grid-column: 7 / 11;
}

@media(max-width:75rem) {
    .output {
        border-radius: 1rem;
    }

    div[class^='curve'] {
        display: none;
    }

    .results-content {
        display: flex;
        align-items: center;
    }

    .bmi-output {
        flex-direction: column;
    }

    .inputs {
        grid-template-columns: 1fr;
    }

    .your-results {
        padding: 0;
        margin: 6rem 0;
    }
}

@media(max-width:62rem) {
    .output {
        border-radius: 1rem 62.4375rem 62.4375rem 1rem;
    }

    .bmi-output {
        flex-direction: row;
    }

    div[class^='curve'] {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 2.5rem;
        height: 2.5rem;

        & img {
            width: 100%;
        }
    }

    .hero {
        padding: 2rem 2.5rem 0;
    }

    .hero .wrapper {
        gap: 2.5rem;
    }

    .hero-content {
        grid-template-columns: 1fr;
    }

    .hero article {
        margin-top: 0;
        grid-column: 1 / -1;
    }

    .calculator {
        grid-column: 1 / -1;
        padding: 2rem;
    }

    .hero::before {
        width: 100%;
        height: 75%;
        border-radius: 0 0 2.1875rem 2.1875rem;
    }

    .tips::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-image: var(--gradient);
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .tip-list {
        z-index: 5;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .tip {
        z-index: 5;
        display: flex;
        flex-direction: row;
        gap: 3rem;

        & .img {
            display: flex;
            align-items: center;
        }
    }

    .inputs {
        grid-template-columns: 1fr 1fr;
    }


    .your-results .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .limitations .wrapper {
        grid-template-columns: repeat(12, 1fr);
    }

    .limitations article {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    .gender {
        grid-row: 2;
        grid-column: 1 / 7;
    }

    .curve-right {
        display: none;
    }

    .age {
        grid-row: 2;
        grid-column: 7 / -1;
    }

    .muscle {
        grid-row: 3;
        grid-column: 1 / 7;
    }

    .pregnancy {
        grid-row: 3;
        grid-column: 7 / -1;
    }

    .race {
        grid-row: 4;
        grid-column: 4 / 10;
    }

}


@media(max-width:48rem) {

    /* tablet */
    .header {
        font-size: 3rem;
        line-height: 110%;
        letter-spacing: -5%;
        font-weight: 600;
    }

    .header-2 {
        font-size: 2rem;
        line-height: 110%;
        letter-spacing: -5%;
        font-weight: 600;
    }

    .hero article h1 {
        text-align: center;
    }

    .inputs {
        grid-template-columns: 1fr;
    }

    .inputs-metric {
        grid-template-columns: 1fr;
    }

    .output {
        border-radius: 1rem;
    }

    .bmi-output {
        flex-direction: column;
    }

    .your-results {
        padding: 0;
        margin-bottom: 3rem;
    }

    .your-results .wrapper {
        grid-template-columns: 1fr;
    }

    .your-results .img {
        height: 22.125rem;
        grid-column: 1 / -1;

        & img {
            height: 100%;
            width: 100%;
        }
    }

    .your-results .results-content {
        grid-column: 1 / -1;
    }

    .your-results article {
        margin: 2rem 1rem;
    }

    .tips {
        padding: 0;
    }

    .tip-list {
        padding: 3rem 1.5rem;
        margin-bottom: 4rem;
    }

    .limitations {
        padding: 0;
        margin-bottom: 5rem;


        & h2,
        p {
            text-align: center;
        }
    }

    .limitations .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: fit-content;
        gap: 1rem;
        padding: 0 0.5rem;
        justify-content: center;
    }

    .limitations article {
        margin-bottom: 3.5rem;
    }


    .tip-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .tip {
        z-index: 5;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        & .img {
            display: flex;
            align-items: center;
        }
    }

    .gender {
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .age {
        grid-row: 3;
        grid-column: 1 / -1;
    }

    .muscle {
        grid-row: 4;
        grid-column: 1 / -1;
    }

    .pregnancy {
        grid-row: 5;
        grid-column: 1 / -1;
    }

    .race {
        grid-row: 6;
        grid-column: 1 / -1;
    }

}